body{
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: Arial;
	display: flex;
	/*將主軸設為垂直*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
h1{
	font-size: 2em;
	border-right: 0.1em solid white;
	/*控制不換行*/
	white-space: nowrap;
	/*隱藏還未打到的文字*/
	overflow: hidden;
	margin: 0 auto;
	/*啟動動畫point_text，動畫時間為0.75秒，且只出現開始與結尾，又無限重複*/
	animation: point-text 0.75s step-end infinite;
}
p#point{
	font-size: 1em;
	color: #ffd700;
	/*如果透明度發生變化，則為在0.5秒內漸漸改變*/
	transition: opacity 0.5s;
}
/*開始與結為右邊的小棒子皆為透明，中間時為白色*/
@keyframes point-text{
	from,to{border-color: transparent;}
	50%{border-color: white;}
}